<div>
    <div class="modal-header">
        <span class="close" ng-click="no()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-question-circle"></i>
            &nbsp;
            <span ng-bind-html="title">
            </span>
        </h4>
    </div>

    <div class="modal-body">

        <div ng-bind-html="message">
        </div>

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-danger btn-sm" ng-click="no()">
            <i class="fa fa-times"></i>
            &nbsp;
            Ні
        </span>
        <span class="btn btn-success btn-sm" ng-click="yes()">
            <i class="fa fa-check"></i>
            &nbsp;
            Так
        </span>
    </div>
</div>