.ajax-loader {
    background: white url(/app/images/ajax-loader.gif) 50% 50% no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
}