<div class="col-sm-6 col-sm-offset-3 panel jumbotron text-center" style="margin-top: 80px;background-color: #fff">

    <div class="text-center">
        <div class="row clearfix">
            <div class="col-md-12 column" style="font-size: 15px;">
                <b>ІНФОРМАЦІЙНА ТЕХНОЛОГІЯ ІДЕНТИФІКАЦІЇ ПРОБЛЕМНИХ СИТУАЦІЙ ТА ЇХ СТАНІВ В СКЛАДНИХ ТЕХНІЧНИХ
                    СИСТЕМАХ</b>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <img class="text-center" src="/app/images/logo.png" width="128" height="128"
                     style="margin-top: 15px;margin-bottom: 15px;">
            </div>
        </div>
        <div class="row clearfix" style="margin-bottom: 15px">
            <div class="col-md-12 column">
                <a href="#/login" class="btn btn-default col-md-12">
                    <span class="fa fa-user"></span>
                    &nbsp;
                    Увійти
                </a>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <a href="#/sign-up" class="btn btn-default col-md-12">
                    <span class="fa fa-user"></span>
                    &nbsp;
                    Реєстрація
                </a>
            </div>
        </div>
    </div>

</div>