<div class="row clearfix" style="margin-top: 15px">

    <div class="col-sm-6 col-sm-offset-3 column">

        <div class="text-right" style="margin-bottom: 15px;">
            <i class="fa fa-user"></i>
            <span>
                <b>{{ user.name }}</b>,
            </span>
            <a href="/#/logout">Вихід</a>
        </div>

        <section class="panel" style="padding: 15px;">

            <div class="panel-body" style="padding: 0;">

                <div class="row clearfix" style="margin-bottom: 15px;">
                    <div class="col-md-4 column" style="margin-top: 6px;">
                        <span style="font-size: 14px;">
                            <b>Тип пристрою:</b>
                        </span>
                    </div>
                    <div class="col-md-8 column" style="padding-left: 0;">

                        <div class="btn-group col-md-12" dropdown is-open="dropDownModel.entityTypeDropDown"
                             style="padding: 0;">
                            <span class="btn btn-primary" style="width: 328px;"
                                  ng-disabled="!userOptionModel.entityType">
                                <span class="pull-left">
                                    {{ userOptionModel.entityType && userOptionModel.entityType['name'] || 'Не вибрано' }}
                                </span>
                            </span>
                            <span class="btn btn-primary dropdown-toggle" ng-disabled="!userOptionModel.entityType">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href ng-repeat="entityType in entityTypes"
                                       ng-click="setEntityType(entityType)">
                                        <i class="fa"
                                           ng-class="{'fa-circle-o' : entityType != userOptionModel.entityType,
                                                'fa-dot-circle-o' : entityType == userOptionModel.entityType}">
                                        </i>
                                        &nbsp;
                                        {{ entityType.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row clearfix" style="margin-bottom: 15px;">
                    <div class="col-md-4 column" style="margin-top: 6px;">
                        <span style="font-size: 14px;">
                            <b>Модель пристрою:</b>
                        </span>
                    </div>
                    <div class="col-md-8 column" style="padding-left: 0;">

                        <div class="btn-group col-md-12" dropdown is-open="dropDownModel.entityModelDropDown"
                             style="padding: 0;">
                            <span class="btn btn-primary" style="width: 328px;"
                                  ng-disabled="!userOptionModel.entityModel">
                                <span class="pull-left">
                                    {{ userOptionModel.entityModel && userOptionModel.entityModel['model'] || 'Не вибрано' }}
                                </span>
                            </span>
                            <span class="btn btn-primary dropdown-toggle" ng-disabled="!userOptionModel.entityModel">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href ng-repeat="entityModel in entityModels"
                                       ng-click="setEntityModel(entityModel)">
                                        <i class="fa"
                                           ng-class="{'fa-circle-o' : entityModel != userOptionModel.entityModel,
                                                'fa-dot-circle-o' : entityModel == userOptionModel.entityModel}">
                                        </i>
                                        &nbsp;
                                        {{ entityModel.model }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 column" style="margin-top: 6px;">
                        <span style="font-size: 14px;">
                            <b>Проблемна ситуація:</b>
                        </span>
                    </div>
                    <div class="col-md-8 column" style="padding-left: 0;">

                        <div class="btn-group col-md-12" dropdown is-open="dropDownModel.problemDropDown"
                             style="padding: 0;">
                            <span class="btn btn-primary" style="width: 328px;"
                                  ng-disabled="!userOptionModel.problem">
                                <span class="pull-left">
                                   {{ userOptionModel.problem && userOptionModel.problem['description'] || 'Не вибрано' }}
                                </span>
                            </span>
                            <span class="btn btn-primary dropdown-toggle" ng-disabled="!userOptionModel.problem">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href ng-repeat="problem in problems"
                                       ng-click="setProblem(problem)">
                                        <i class="fa"
                                           ng-class="{'fa-circle-o' : problem != userOptionModel.problem,
                                                'fa-dot-circle-o' : problem == userOptionModel.problem}">
                                        </i>
                                        &nbsp;
                                        {{ problem.description }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

            <div style="border-bottom: 1px solid #D5D5D5;margin-left: -15px;margin-right: -15px;margin-top: 15px;">
            </div>

            <div class="text-center" style="margin-top: 15px;">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <span class="btn btn-success"
                              ng-disabled="!(userOptionModel.entityType && userOptionModel.entityModel && userOptionModel.problem)"
                              ng-click="getSuggestions()">
                            <i class="fa fa-lightbulb-o"></i>
                            &nbsp;
                            Надати рекомендації по вирішенню проблеми
                        </span>
                    </div>
                </div>
            </div>

        </section>

    </div>

</div>