<div class="panel col-sm-4 col-sm-offset-4" style="margin-top: 80px">

    <h1>
        <span class="fa fa-sign-in" ng-click="quickSingUp()"></span>
        Реєстрація
    </h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            <span class="pull-left">
                <i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i>
            </span>
            {{ errorMessage }}
        </alert>
    </div>

    <form ng-submit="signUp()" autocomplete="off">

        <div class="form-group">
            <label>
                Ім'я
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isNameValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                </div>
                <input class="form-control" type="text" ng-model="name"
                       placeholder="Введіть ім'я" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                Пароль
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                <input class="form-control" type="password" ng-model="password"
                       placeholder="Введіть пароль" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                Повторіть пароль
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                <input class="form-control" type="password" ng-model="retypedPassword"
                       placeholder="Введіть повторений пароль"
                       autocomplete="off">
            </div>
        </div>

        <span ng-click="signUp()" class="btn btn-warning"
              ng-disabled="!(isNameValid() && isPasswordValid())">
            Реєстрація
        </span>
    </form>

    <hr>

    <p>
        Вже маєте акуант? <a href="/#/login">Увійти</a>
    </p>

    <p>
        Або перейти <a href="/#/">додому</a>
    </p>
</div>